body {
    background-color: black;
    color:aliceblue
}

.container_top { /***************************************************************/
	text-align: center;
	/* align-content: center; */
	/* margin: 0 auto; */
	/******* Colocar DIV por encima de video *********/
	position: absolute;
	/* z-index: 1;
	translate(0, -50%); */
	/******* Colocar DIV por encima de video *********/

	border: 2px dashed;
	/* font-size: 0; */
	background-color:transparent;

	.container__box {
		padding: 5px;
		display: inline-block;
		
	}
	.container__box--child00 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 100px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}

    .container__box--child01 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 100px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}
    .container__box--child02 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 100px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}
    .container__box--child03 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 100px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}
    .container__box--child04 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 120px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;

	}
    .container__box--child05 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 100px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}
    .container__box--child06 {
		background-color: transparent;
		align-content: center;
		color:white;
		font-size: 10px;
		width: 700px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}

	.container__box--child07 {
		background-color: rgb(0, 0, 0);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 100px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}

	.container__box--child08 {
		background-color: transparent;
        align-content: center;
		color:white;
		font-size: 10px;
		width: 1500px;
		height: 700px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}

	.container__box--child09 {
		background-color: rgb(230, 226, 19);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 1000px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}
	.container__box--child10 {
		background-color: rgb(209, 15, 15);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 1000px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}
	.container__box--child11 {
		background-color: rgb(164, 27, 255);
        align-content: center;
		color:white;
		font-size: 10px;
		width: 1000px;
		height: 50px; 
		font-family: 'Mosk, sans-serif';
		border: 2px dashed;
	}

}


.container_video { /**************************************************************/
	margin: 0 auto;
	text-align: center;
	align-content: center;
	display: center;
}